<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
	<appender name="bussiness"
		class="ch.qos.logback.core.ConsoleAppender">

		<!-- config it to record the info level -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [ %thread ]  [ %p ] %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.iflytek.gnome" level="debug" additivity="false">
		<appender-ref ref="bussiness" />
	</logger>

	<root level="info">
	</root>

</configuration>
