<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
	<Properties>
		<property name="output_log_level">debug</property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss}][%c]%m%n " />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="${output_log_level}">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>